{% extends 'base.html' %}
{% load static %}
{% block title %}Favoritos{% endblock %}

{% block content %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Meus Favoritos</h3>
                </div>
            </div>
            <!-- /section title -->

            {% if messages %} 
					{% for message in messages %}
						<div class="alert alert-primary" role="alert">
							{{ message }}
						</div>
					{% endfor %}  
				{% endif %}

            <!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										{% if favorites %}
                                            {% for favorite in favorites %}

                                            <!-- product -->
										
                                                <div class="product">
                                                    <div class="product-img">
                                                        <img src="{{ favorite.product.image.thumb.url }}" alt="">
                                                    </div>
                                                    <div class="product-body">
                                                        <p class="product-category">{{ favorite.product.category }}</p>
                                                        <h3 class="product-name"><a href="{% url 'core:product' favorite.product.slug %}">{{ favorite.product.name }}</a></h3>
                                                        <h4 class="product-price">R${{ favorite.product.price }}</h4>
                                                        <p>{{ favorite.product.detail|truncatewords:50 }}</p>
                                                        <div class="product-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="product-btns">
                                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                                        </div>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a href="{% url 'core:cart' favorite.product.id %}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button></a>
                                                    </div>
                                                </div>
                                                <!-- /product -->
								
										

											{% endfor %}
										{% endif %}

										
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}